{% extends 'index.html' %}

{%block content1 %}
<ol>
  {%for u in users %}
  <li> <a href="{{url_for('employee_details', empid=u.id)}}">{{u.fname}} </a></li>
  {%endfor%}
</ol>

<ol>
  {%for u in users %}
  <li> <a href="{{url_for('employee_details', empid=u.id)}}">{{u.fname}} </a></li>
  {%endfor%}
</ol>
{%endblock %}

{% block content2 %}
    <h1> Details for {{user.fname}}  {{user.lname}}</h1>
    <h2> {{user.title.title}} </h2>
    <table border="1" >
      <tr>
        <th width="150"> First name </th>
        <td width="200"> {{user.fname}}</td>
      </tr>
      <tr>
        <th> Last name </th>
        <td> {{user.lname}}</td>
      </tr>
      <tr>
        <th> Email </th>
        <td> {{user.email}}</td>
      </tr>

      <tr>
        <th> Phone </th>
        <td> {{user.phone}}</td>
      </tr>
    </table>
<br><br>
    <table border="1" >
      <tr>
        <th width="150">  Leave taken : </th>
        <td width="50"> {{leave}}</td>
      </tr>
      <tr>
        <th> Maximum leave allowed : </th>
        <td> {{user.title.max_leaves}}</td>
      </tr>
      <tr>
        <th>  Remaining leaves : </th>
        <td> {{user.title.max_leaves-leave}}</td>
      </tr>
    </table>
    <a href="{{url_for('employees')}}"> Back to list of employees </a><br><br>
    <a href="{{url_for('add_leaves', empid=user.id)}}">Add leaves of employees </a>
   
{% endblock %}